.kzui-customSelect {
  position: relative;
  width: 100%;
  font-family: Arial, sans-serif;
}

.kzui-customSelect.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed !important;
}

.kzui-customSelect__control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: white;
}

.kzui-customSelect__control input {
  flex: 1;
  border: none;
  outline: none;
  padding: 4px 8px;
  font-size: 14px;
  width: 180px;
}

.kzui-customSelect__values {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.kzui-customSelect__value {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.kzui-customSelect__value button {
  background: none;
  border: none;
  margin-left: 4px;
  cursor: pointer;
}

.kzui-placeholder {
  color: #aaa;
}

.kzui-optionsList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}

.kzui-optionsList__group {
  padding: 8px;
}

.kzui-optionsList__group__label {
  font-weight: bold;
  padding: 4px 8px;
}

.option {
  padding: 8px;
  cursor: pointer;
}

.option.selected {
  background-color: #2980b9;
  color: #fff;
}

.option:hover {
  background-color: #3498db;
}

.kzui-customSelect__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.kzui-height_40 {
  min-height: 40px;
}

.kzui-flex__item__center {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.kzui-hidden {
  display: none;
}

.kzui-text__center {
  text-align: center;
  font-size: 3.5em;
}

/* Responsive  */
@media screen and (max-width: 1080px) {
  .kzui-customSelect__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 10px;
  }
}

@media screen and (max-width: 780px) {
  .kzui-customSelect__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }
}
